{% extends "base.html" %}
{% block content %}

  <h1 class="mb-3">
    {{ task.name }}
    {% if not task.is_completed %}
      <span class="badge badge-warning align-middle ml-2">In progress</span>
    {% else %}
      <span class="badge badge-success align-middle ml-2">Completed</span>
    {% endif %}
  </h1>

  <h5 class="mb-3">📅{{ task.deadline }}</h5>

  {% for tag in task.tags.all %}
    <a href="{% url 'task:task-list' %}?tag={{ tag.name }}">
      <span class="badge badge-secondary mr-1">{{ tag.name }}</span>
    </a>
  {% endfor %}

  <h6>Assignees:</h6>
  <ul class="list-unstyled mb-3">
    {% for person in task.assignees.all %}
      <li>👤<a href="{% url 'task:worker-detail' pk=person.id %}">{{ person }}</a></li>
    {% endfor %}
  </ul>

  <div class="lead text-justify font-weight-normal mb-3">{{ task.description }}</div>

  {% if request.user in task.assignees.all or request.user.is_admin %}
    {% if not task.is_completed %}
      <a href="{% url 'task:mark-task-completed' pk=task.id %}" class="btn btn-outline-success mr-1">
        Mark as completed
      </a>
    {% endif %}
    <a class="btn btn-outline-primary mr-1" href="{% url 'task:task-update' pk=task.id %}?next={{ request.get_full_path }}">Update</a>
    <a class="btn btn-outline-danger" href="{% url 'task:task-delete' pk=task.id %}?next={{ request.path }}">Delete</a>
  {% endif %}

{% endblock %}
